body{
    background-color:#AFFFD3;
}

.col-name{position: relative;
    left: 17%;


}

.col-firm{position: relative;
          left: 16%;

}


.col-val{position: relative;
          left: 17%;

}

.ccc{color: #200DCC;

}