{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}


{% block body %}
 <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Онлайн магазин</h1>
      <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>
  <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for q in items %}

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ q.title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="col-color2 card-title pricing-card-title">{{ q.price }}<small class="text-muted fw-light">{{ q.currency }}</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li class="col-color">Фирма: {{q.firm}}</li>
                <li>Описание: <h3>{{ q.info }}</h3></li>
                <li>Дата публикации:{{ q.theDate }}</li>

            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  </main>

{% endblock %}

